* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", serif;
}

main {
    height: 100vh;
    background-color: green;
    display:grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 2em;
}
 
.btn {
    padding: .5em 2em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

#cardSlot {

    border-radius: 20px;
}

#cardSlot img {
    height: 400px;
}


.text {
    font-size: 1rem;
    color: white;
}

#header {
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 500px) {

    #cardSlot img {
        height: 200px;
    }

}